<div class="row">
    <div class="columns large-12">
        <h4><a href="/">Home</a> &gt {{modelName}} prediction history</h4>
        <strong>Prediction Accuracy: {{this.predictionAccuracy}}%
        <table>
            <thead>
                <tr>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.predictions}}
                <tr>
                    <td>
                        {{#equal this.status 'waiting_for_result'}}
                        <p><strong>Current Prediction: {{this.prediction}} movement</strong></p>
                        <p>
                            <small>
                                <span class="smartdate" data-timestamp="{{this.unixTimestamp}}"></span>
                            </small>
                        </p>
                        {{/equal}}
                        {{#equal this.status 'complete'}}
                        <strong>
                        {{#if this.predictionWasCorrect}}
                        <span style="color:#00BD4C">Correctly predicted {{this.prediction}} price movement</span>
                        {{else}}
                        <span style="color:#FF3F3F">Incorrectly predicted {{this.prediction}} price movement</span>
                        {{/if}}
                        </strong>
                        <br>
                        <small>
                            <span class="smartdate" data-timestamp="{{this.unixTimestamp}}"></span>
                        </small>
                        <br>
                        <small>Price Change: {{this.priceChange}}</small>
                        <br>
                        <small>Sentiment Score: {{this.sentimentScore}} ({{this.averageTweetSentiment}} avg)</small>
                        <br>
                        <small>
                            # of Tweets: {{this.numberOfTweets}}<br>
                            Most Critical: <small style="font-size:.5em">{{this.mostCriticalTweet}}</small><br>
                            Most Positive: <small style="font-size:.5em">{{this.mostPositiveTweet}}</small>
                        </small>
                        {{/equal}}
                    </td>    
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>