
<div class="row">
    <div class="columns large-12">
        <h1>Ethereum Spy</h1>
    </div>
</div>
<div class="row">
    {{#each predictionsGroupedByCoinsThenByModels}}
    <div class="columns small-6 columns end">
        <h4>{{this._id}}</h4>
        <table>
            <thead>
                <th>Model</th>
                <th>Current Prediction</th>
                <th>Accuracy</th>
            </thead>
            {{#each this.models}}
            <tr>
                <td>{{this.modelLabel}}</td>
                <td>
                    <strong>{{this.currentPrediction}}</strong> as of 
                    <span class="smartdate" data-timestamp="{{this.currentPredictionPredictedOn}}"></span>
                </td>
                <td>{{this.predictionAccuracy}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/each}}  
</div>
<script src="/public/smartdate.min.js"></script>
<script>
  smartdate.init();
</script> 