
<div class="row">
    <div class="columns large-12">
        <h1>Ethereum Spy</h1>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <table>
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Coin</th>
                    <th>Timestamp</th>
                    <th>Predicted Correctly?</th>
                    <th>Sentiment</th>
                    <th>Number of Tweets</th>
                    <th>Price Movement</th>
                    <th>Most Critical</th>
                    <th>Most Positive</th>
                </tr>    
            </thead>  
            <tbody>
                {{#each predictions}}
                    <tr>
                        <td><small>{{this.modelName}}</small></td>
                        <td>{{this.coinTicker}}</small></td>
                        <td><small>{{this.timestamp}}</small></td>
                        <td><small>{{this.predictedCorrectly}}</small></td>
                        <td><small>{{this.sentimentScore}} ( {{this.averageTweetSentiment}} avg)</small></td>
                        <td><small>{{this.numberOfTweets}}</small></td>
                        <td><small>{{this.priceMovement}}({{this.priceChange}})</small></td>
                        <td><small>{{this.mostCriticalTweet}}</small></td>
                        <td><small>{{this.mostPositiveTweet}}</small></td>
                    </tr>
                {{/each}}
            </tbody>  
        </table>
    </div>    
</div>
