
<div class="row">
    <div class="columns large-12">
        <h1>Ethereum Spy</h1>
    </div>
</div>
<div class="row">
    {{#each models}}
    <div class="columns small-6 columns">
        <h4>{{this._id}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.predictions}}
                <tr>
                    <td>
                        <strong>Prediction: {{this.prediction}} movement</strong><br>
                        <strong><small>Last Prediction Correct?: {{this.previousPredictionCorrect}}</small></strong><br>
                        <small>{{this.priceChange}}</small>
                        <small>{{this.sentimentScore}} ({{this.averageTweetSentiment}} avg)</small>
                        <small>
                            Total #: {{this.numberOfTweets}}<br>
                            Most Critical: <small style="font-size:.5em">{{this.mostCriticalTweet}}</small><br>
                            Most Positive: <small style="font-size:.5em">{{this.mostPositiveTweet}}</small>
                        </small>
                    </td>    
                </tr>
                {{/each}}
            </tbody>
        </table>
        
    </div>
    {{/each}}  
</div>